body {
  margin: 0;
  display: flex;
  background-color: whitesmoke;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin :0;
  margin-bottom: .5rem;
}

.send-container {
  position: fixed;
  padding-bottom: 30px;
  bottom: 0;
  background-color: white;
  max-width: 1200px;
  width: 80%;
  display: flex;
}
.card {
  position: absolute;
  left: 25%;
  width: 50%;
}
.message-input {
  flex-grow: 1;
}
.input-group {
  position: fixed;
  bottom: 0;

}
.btn-primary {
  height: 3rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
